@media screen and (max-width: 1200px) {
    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

a {
    color: black;
}
.logo{
    width: 200px;  
    height: auto;
    @media (max-width: 450px) {
        width: 150px;
        height: auto;
}
}
.container-fluid{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important; 
}
.nav-link {
    font-family: 'WixMadeforDisplay-VariableFont_wght', sans-serif;
    color: #565656;
  
    &:hover {
      font-weight: bold;
    }
  }

.header_color{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2 ;
    @media (max-width: 450px) {
        height: 80px;
}
}
.header{
    background-color: #f2f2f2 ;
}
.container-navbar{
    width: 1000px !important;
}
.gumb{
    background-color: #3e83a4;
    color: white;
    border: none;
    width: 250px;
    border-radius: 0;
    height: 50px;
    margin-left: 10px;
}