<footer class="footer-distributed">
  <div class="footer-left">
    <div class="logo"></div>
    <p class="footer-links">
      <a href="#" class="link-1"> Home </a>
      <a href="#"> Usluge </a>
      <a href="#"> Galerija </a>
      <a href="#"> O nama </a>
      <a href="#"> Kontakt </a>
    </p>
    <p class="footer-company-name">Lollipop © 2024</p>
  </div>
  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>444 S. Cedros Ave</span> Jarun Beach, 10-000, Zagreb</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>+385 9123 123</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@lollipopShine.hr">support@lollipopShine.hr</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      Zaprati nas na društvenim mrežama i ostani u toku sa svim novostima i akcijama.
    </p>
    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
    </div>
  </div>
</footer>