<div class="section1-wrapper">
    <div class="section_slika_services" [style.background-size]="backgroundSize">
        <div class="text-wrapper">
            <p class="centered-text">O nama</p>
            <p class="centered-text2">Predanošću i strašću, započeli smo našu priču u svijetu čišćenja prije sedam
                godina. Kroz godine smo stekli brojne stalne i zadovoljne klijente, suočavajući se s raznim izazovima i
                pružajući besprijekorne rezultate čišćenja, čak i u najzahtjevnijim i najprljavijim prostorima.</p>
        </div>
    </div>
</div>
<div class="section2-wrapper">
    <div class="section_slika_services2">
        <div class="container aboutContainer">
            <div class="row d-flex justify-content-center column-gap-5 pt-5">
                <div class="col-lg-5 order-sm-2 order-lg-1 order-2 p-2 colAboutPicStartLeft"></div>
                <div class="col-lg-5 order-sm-1 order-lg-2 order-1 p-2 d-flex center-content">
                    <p class="colAboutText1">
                        Jedna od naših ključnih vrijednosti je ekološka osviještenost. Čistimo s biorazgradivim
                        sredstvima, pružajući ne samo čistoću, već i očuvanje okoliša. Naš pristup je brz i efikasan,
                        omogućujući nam da procijenimo prostor u roku od 10 do 15 minuta i pružimo uslugu u vrlo kratkom
                        vremenu. Naša prisutnost je snažna u Zagrebu, ali se ne zaustavlja tamo. Pružamo usluge diljem
                        Hrvatske,
                        Slovenije i Mađarske. Bez obzira na vaše geografsko ili vremensko ograničenje, naš tim je tu da
                        vam pruži vrhunsku uslugu čišćenja.
                    </p>
                </div>
            </div>
            <div class="row d-flex justify-content-center column-gap-5 mt-5">
                <div class="col-lg-5 order-sm-1 order-lg-2 order-1 p-2 d-flex center-content">
                    <p class="colAboutText1">
                        Otvoreni smo za suradnju i dogovore u turističkoj sezoni, gdje nastojimo osigurati čistoću vaših
                        prostora čak i u najprometnijim razdobljima. Smatramo da je čistoća temelj zdravog života,
                        osobito u današnjem vremenu kada su problemi s alergijama i disanjem sve češći. Zato se trudimo
                        prevenirati takve probleme kroz našu uslugu. Naš cilj i vizija su jednostavni - želimo da svi
                        imaju čiste prostore kako bi živjeli zdravije i sretnije živote. Ulaganje u čistoću danas može
                        osigurati lakšu i zdraviju budućnost za sve
                    </p>
                </div>
                <div class="col-lg-5 order-sm-2 order-lg-2 p-2 order-2 mb-5 colAboutPicStartRight"></div>
            </div>
        </div>
    </div>
</div>