.section_slika_services {
    width: 100vw;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url("/assets/SectionAboutSlika1.jpeg");
    background-size: 100% 100%;
    object-fit: cover;
    z-index: 2;
    background-position: center;
    @media (max-width: 450px) {
        height: 520px;
        background-size: 100% 100%;
    }
}

.text-wrapper {
    position: relative;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #ececec;
    font-family: "WixMadeforDisplay-VariableFont_wght", sans-serif;
    text-align: left;
    width: 680px;
    z-index: 3;
    @media (max-width: 450px) {
        width: 100%;
        top: 48%;
        left: 50%;
        padding: 25px;
        transform: translate(-50%, -30%);
    }
}
.centered-text {
    font-size: 50px;
    color: #ececec;
    font-family: "WixMadeforDisplay-VariableFont_wght", sans-serif;
    @media (max-width: 450px) {
        font-size: 35px;
        padding-right: 80px;
    }
}

.centered-text2 {
    font-size: 20px;
    line-height: 1.4em;
    color: #ececec;
    font-family: "WixMadeforDisplay-VariableFont_wght", sans-serif;
}

.section1-wrapper,
.section2-wrapper {
    position: relative;
    width: 100vw;
}
.section_slika_services2 {
    width: 100vw;
    height: fit-content;
    background-repeat: no-repeat;
    background-image: url("/assets/sectionServicesSlika2.jpeg");
    background-size: 100% 100%;
    background-position: center;
    @media (max-width: 450px) {
        height: auto;
        background-repeat: repeat-y;
        background-size: 100%;
    }
}
.colAboutPicStartLeft {
    height: 270px;
    width: 450px;
    background-image: url("/assets/sectionAboutGridStartLeft.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.colAboutPicStartRight {
    height: 270px;
    width: 450px;
    background-image: url("/assets/sectionAboutGridStartRight.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.colAboutText1 {
    height: auto;
    width: 450px;
    text-align: justify;
    color: #565656;
    font-family: "WixMadeforDisplay-VariableFont_wght", sans-serif;
}
.center-content {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 450px;
}
.colAboutPicEndLeft {
    height: 270px;
    width: 450px;
    background-image: url("/assets/sectionAboutGridEndLeft.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
