<div class="section1-wrapper">
    <div class="section_slika_services"  [style.background-size]="backgroundSize">
        <div class="text-wrapper">
            <p class="centered-text">O nama</p>
            <p class="centered-text2">Lorem ipsum dolor sit amet. Et totam quas eum tenetur molestiae in nobis quia ex officia sunt est galisum rerum sit quia repellendus ut iste fugiat. Aut sunt voluptatem ea libero fuga qui molestiae animi. Et minima rerum aut autem blanditiis vel tempora architecto aut sint magnam.</p>               
</div>
    </div>
</div>
<div class="section2-wrapper">
    <div class="section_slika_services2">
        <div class="container">





            <div class="row d-flex justify-content-center column-gap-5 mt-5 pt-5">
                <div class="col-lg-5  colAboutPicStartLeft"></div>
                <div class="col-lg-5 d-flex center-content">
                    <p class="colAboutText1 mb-0">
                        Lorem ipsum dolor sit amet. Sed harum eveniet ad quam alias ut rerum nisi nam nesciunt voluptatem At repudiandae quas. Aut modi officia qui veniam quod ut accusantium officiis Aut modi officia qui veniam quod ut accusantium officiis Aut modi officia qui veniam quod ut accusantium officiis Aut modi officia qui veniam quod ut accusantium officiis non voluptas recusandae ut voluptas officiis est dolorum illo ut quam dolore. Lorem ipsum dolor sit amet. Sed harum eveniet ad quam alias ut rerum nisi nam nesciunt voluptatem At repudiandae quas. Aut modi officia qui veniam quod ut accusantium officiis non voluptas recusandae ut voluptas officiis est dolorum illo ut quam dolore. 
                    </p>
                </div>
            </div>
            <div class="row d-flex justify-content-center column-gap-5 mt-5">
                <div class="col-lg-5 d-flex center-content">
                    <p class="colAboutText1 mb-0">
                        Lorem ipsum dolor sit amet. Sed harum eveniet ad quam alias ut rerum nisi nam nesciunt voluptatem At repudiandae quas. Aut modi officia qui veniam quod ut accusantium officiis Aut modi officia qui veniam quod ut accusantium officiis Aut modi officia qui veniam quod ut accusantium officiis Aut modi officia qui veniam quod ut accusantium officiis non voluptas recusandae ut voluptas officiis est dolorum illo ut quam dolore. Lorem ipsum dolor sit amet. Sed harum eveniet ad quam alias ut rerum nisi nam nesciunt voluptatem At repudiandae quas. Aut modi officia qui veniam quod ut accusantium officiis non voluptas recusandae ut voluptas officiis est dolorum illo ut quam dolore. 
                    </p>
                </div>
                <div class="col-lg-5  colAboutPicStartRight"></div>
            </div>


            <div class="row d-flex justify-content-center column-gap-5 mt-5">
                <div class="col-lg-5  colAboutPicEndLeft"></div>
                    <div class="col-lg-5 d-flex center-content">
                        <p class="colAboutText1 mb-0">
                            Lorem ipsum dolor sit amet. Sed harum eveniet ad quam alias ut rerum nisi nam nesciunt voluptatem At repudiandae quas. Aut modi officia qui veniam quod ut accusantium officiis Aut modi officia qui veniam quod ut accusantium officiis Aut modi officia qui veniam quod ut accusantium officiis Aut modi officia qui veniam quod ut accusantium officiis non voluptas recusandae ut voluptas officiis est dolorum illo ut quam dolore. Lorem ipsum dolor sit amet. Sed harum eveniet ad quam alias ut rerum nisi nam nesciunt voluptatem At repudiandae quas. Aut modi officia qui veniam quod ut accusantium officiis non voluptas recusandae ut voluptas officiis est dolorum illo ut quam dolore. 
                        </p>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="section3-wrapper">
    <div class="section3_slika_services"  [style.background-size]="backgroundSize">
        <div class="white-box" whiteBox>
            <form class="contact-form">
                <p class="form-headline">Kontaktirajte nas i zatražite ponudu</p>
                <div class="form-row">
                    <div class="col-lg-5">
                        <label for="contact-number">Kontakt broj</label>
                        <input type="tel" id="contact-number" placeholder="Kontakt broj">
                    </div>
                    <div class="col-lg-5">
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="email@example.com">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-10">
                        <label for="message">Vaša poruka</label>
                        <textarea id="message" rows="4" placeholder="Napišite upit"></textarea>
                    </div>     
                </div>
                <div class="button-wrapper">
                    <button type="submit" class="submit-button">Pošalji</button>
                </div>
            </form>
        </div>
                         
    </div>
</div>
