<div class="section1-wrapper">
    <div class="section_slika_services"  [style.background-size]="backgroundSize">
        <div class="text-wrapper">
            <p class="centered-text">Galerija</p>
            <p class="centered-text2">Lorem ipsum dolor sit amet. Et totam quas eum tenetur molestiae in nobis quia ex officia sunt est galisum rerum sit quia repellendus ut iste fugiat. Aut sunt voluptatem ea libero fuga qui molestiae animi. Et minima rerum aut autem blanditiis vel tempora architecto aut sint magnam.</p>               
</div>
    </div>
</div>
<div class="section2-wrapper">
    <div class="section_slika_services2">
        <div class="container carousel_wrapper d-flex justify-content-center">
            <div id="carouselIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/assets/sectionServicesSlika1.jpeg" class="d-block " alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/sectionServicesSlika1.jpeg" class="d-block " alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/sectionServicesSlika1.jpeg" class="d-block " alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
</div>