<div class="section1-wrapper">
  <div class="section_slika_services" [style.background-size]="backgroundSize">
    <div class="text-wrapper">
      <p class="centered-text">Čistimo sve <span style="color: rgb(227, 68, 68);">EKSTREMNO</span> i lagano. <br>
        Uvjerite se
        sami. </p>

    </div>
  </div>
</div>
<div class="section2-wrapper ">
  <div *ngIf="!isMobile" class="section_slika_services2">
    <div class="container ">
      <div class="row pt-5 pb-5" style="height: fit-content;">
        <div class="col-lg-12">


          <app-carousel></app-carousel>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isMobile">
    <div class="container">
      <div class="row pt-5 pb-5" style="height: fit-content;">
        <div class="col-lg-12">
          <app-carousel></app-carousel>
        </div>
      </div>
    </div>
  </div>
</div>