.section_slika_services, .section_slika_services2 {
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    object-fit: cover;
    background-position: center;
}

.section_slika_services {
    height: 500px;
    background-image: url('/assets/SectionGallerySlika1.jpeg');
    @media (max-width: 450px) {
        height: 520px;
    }
}

.section_slika_services2 {
    height: fit-content;
    background-image: url('/assets/sectionServicesSlika2.jpeg');
    @media (max-width: 450px) {
    }
}

.text-wrapper {
    position: relative;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    width: 680px;
    @media (max-width: 450px) {
        width: 100%;
        top: 48%;
        left: 50%;
        padding: 25px;
        transform: translate(-50%, -30%);
    }
}

.centered-text {
    font-size: 50px;
    @media (max-width: 450px) {
        font-size: 35px;
        padding-right: 80px;
        line-height: 1em;
    }
}

.centered-text2 {
    font-size: 17px;
    line-height: 1.4em;
}
.container {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}