<div class="section1-wrapper">
    <div class="section_slika_services" [style.background-size]="backgroundSize">
        <div class="text-wrapper">
            <p class="centered-text">Istražite naše usluge</p>
            <p class="centered-text2">Lorem ipsum dolor sit amet. Et totam quas eum tenetur molestiae in nobis quia ex
                officia sunt est galisum rerum sit quia repellendus ut iste fugiat. Aut sunt voluptatem ea libero fuga
                qui molestiae animi. Et minima rerum aut autem blanditiis vel tempora architecto aut sint magnam.</p>
        </div>
    </div>
</div>
<div class="section2_wrapper">
    <div class="section_slika_services2">
        <div class="container-fluid">
            <div class="row column-gap-2 d-flex justify-content-center pt-5">
                <div class="col-lg-3">
                    <div class="equipment_col_wrapper">
                        <div class="equipment_slika1">
                        </div>
                        <div class="equipment_text_wrapper">
                            <p class="equipment_textHeader">Industrijski usisavači</p>
                            <p class="equipment_textP">Lorem ipsum dolor sit amet. Sed soluta autem hic doloribus
                                incidunt sed facilis nulla qui perferendis voluptas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="equipment_col_wrapper">
                        <div class="equipment_slika2">

                        </div>
                        <div class="equipment_text_wrapper">
                            <p class="equipment_textHeader">Strojevi za dubinsko pranje</p>
                            <p class="equipment_textP">Lorem ipsum dolor sit amet. Sed soluta autem hic doloribus
                                incidunt sed facilis nulla qui perferendis voluptas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="equipment_col_wrapper">
                        <div class="equipment_slika3">
                        </div>
                        <div class="equipment_text_wrapper">
                            <p class="equipment_textHeader">Parni čistači stakla</p>
                            <p class="equipment_textP">Lorem ipsum dolor sit amet. Sed soluta autem hic doloribus
                                incidunt sed facilis nulla qui perferendis voluptas.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row column-gap-2 d-flex justify-content-center mt-3">
                <div class="col-lg-3">
                    <div class="equipment_col_wrapper">
                        <div class="equipment_slika4">
                        </div>
                        <div class="equipment_text_wrapper">
                            <p class="equipment_textHeader">Dubinski usisavači namještaja</p>
                            <p class="equipment_textP">Lorem ipsum dolor sit amet. Sed soluta autem hic doloribus
                                incidunt sed facilis nulla qui perferendis voluptas.</p>
                            <img src="/assets/transparentElementSauger.jpeg" alt="Cistaljka"
                                class="transparentElementSauger">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="equipment_col_wrapper">
                        <div class="equipment_slika5">
                        </div>
                        <div class="equipment_text_wrapper">
                            <p class="equipment_textHeader">Sredstva za čišćenje</p>
                            <p class="equipment_textP">Lorem ipsum dolor sit amet. Sed soluta autem hic doloribus
                                incidunt sed facilis nulla qui perferendis voluptas.</p>
                            <img src="/assets/transparentElementSpricaljka.jpeg" alt="Cistaljka"
                                class="transparentElementSpricaljka">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid" style="padding-left: 0px !important; padding-right: 0px !important;">
            <div class="new_section" [style.background-size]="backgroundSize">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-5">
                        <div class="parent-container">
                            <div class="white-box" whiteBox>
                                <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                                    <p class="form-headline">Kontaktirajte nas i zatražite ponudu</p>
                                    <div class="form-row">
                                        <div class="col-lg-5 col-12">
                                            <label for="contact-number">Kontakt broj</label>
                                            <input type="tel" id="contact-number" formControlName="contactNumber"
                                                placeholder="Kontakt broj">
                                        </div>
                                        <div class="col-lg-5 col-12">
                                            <label for="email">Email</label>
                                            <input type="email" id="email" formControlName="email"
                                                placeholder="email@example.com">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-10 col-12">
                                            <label for="message">Vaša poruka</label>
                                            <textarea id="message" rows="4" formControlName="message"
                                                placeholder="Napišite upit"></textarea>
                                        </div>
                                    </div>
                                    <div class="button-wrapper">
                                        <button type="submit" class="submit-button">Pošalji</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>