.main-container {
    min-height: 100vh; // This makes sure the container takes at least the full height of the viewport
    width: auto;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.content {
    overflow: auto;
    @media (max-width: 450px) {
        overflow: hidden;
    } 
}