.main-container {
    min-height: 100vh; // This makes sure the container takes at least the full height of the viewport
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.content {
    overflow: auto; // This makes sure the content is scrollable if it exceeds the available space
}