.main-container {
    height: fit-content;
    width: auto;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.content {
    @media (max-width: 450px) {
        overflow: hidden;
    }
}
