<div class="section1-wrapper">
    <div class="section_slika_services" [style.background-size]="backgroundSize">
        <div class="text-wrapper">
            <p class="centered-text">Istražite naše usluge</p>
            <p class="centered-text2">Lorem ipsum dolor sit amet. Et totam quas eum tenetur molestiae in nobis quia ex
                officia sunt est galisum rerum sit quia repellendus ut iste fugiat. Aut sunt voluptatem ea libero fuga
                qui molestiae animi. Et minima rerum aut autem blanditiis vel tempora architecto aut sint magnam.</p>
            <img src="/assets/moco.jpeg" alt="moco" class="moco_element_uWrapperTextu">
        </div>
    </div>
    <div class="section2-wrapper">
        <div class="section_slika_services2">
            <div class="container-fluid ">
                <div class="row column-gap-3 d-flex justify-content-center">
                    <div class="col-lg-5 order-lg-1 order-1 mt-3 mb-3 myColPics myColPics1 ">
                        <p class="myPGridLeft">Stanovi i kuće</p>
                    </div>
                    <div class="col-lg-5 order-lg-2 order-2 mt-3 mb-3 myColText myColText1">
                        <div class="myPTextGridWrapper">
                            <p class="myPTextGridRight">Lorem ipsum dolor sit amet. Sed harum eveniet ad quam alias ut
                                rerum nisi nam nesciunt voluptatem At repudiandae quas. Aut modi officia qui veniam quod
                                ut accusantium officiis non voluptas recusandae ut voluptas officiis est dolorum illo ut
                                quam dolore</p>
                        </div>
                    </div>
                </div>
                <div class="row column-gap-3 d-flex justify-content-center">
                    <div class="col-lg-5 order-lg-1 mt-3 order-2 mb-3 myColText myColText2">
                        <div class="myPTextGridWrapper">
                            <p class="myPTextGridLeft">Lorem ipsum dolor sit amet. Sed harum eveniet ad quam alias ut
                                rerum nisi nam nesciunt voluptatem At repudiandae quas. Aut modi officia qui veniam quod
                                ut accusantium officiis non voluptas recusandae ut voluptas officiis est dolorum illo ut
                                quam dolore</p>
                        </div>
                    </div>
                    <div class="col-lg-5 order-lg-2 mt-3 order-1 mb-3my myColPics myColPics2">
                        <p class="myPGridRight">Apartmani</p>
                    </div>
                </div>
                <div class="row column-gap-3 d-flex justify-content-center">
                    <div class="col-lg-5 order-lg-1 order-1 mt-3 mb-3 myColPics myColPics3">
                        <p class="myPGridLeft">Poslovni prostori</p>
                    </div>
                    <div class="col-lg-5 order-lg-2 order-2 mt-3 mb-3 myColText myColText3">
                        <div class="myPTextGridWrapper">
                            <p class="myPTextGridRight">Lorem ipsum dolor sit amet. Sed harum eveniet ad quam alias ut
                                rerum nisi nam nesciunt voluptatem At repudiandae quas. Aut modi officia qui veniam quod
                                ut accusantium officiis non voluptas recusandae ut voluptas officiis est dolorum illo ut
                                quam dolore</p>
                        </div>
                    </div>
                </div>
                <div class="row column-gap-3 d-flex justify-content-center">
                    <div class="col-lg-5 order-lg-1 order-2 mt-3 mb-3 myColText myColText4">
                        <div class="myPTextGridWrapper">
                            <p class="myPTextGridLeft">Lorem ipsum dolor sit amet. Sed harum eveniet ad quam alias ut
                                rerum nisi nam nesciunt voluptatem At repudiandae quas. Aut modi officia qui veniam quod
                                ut accusantium officiis non voluptas recusandae ut voluptas officiis est dolorum illo ut
                                quam dolore</p>
                        </div>
                    </div>
                    <div class="col-lg-5 order-lg-2 order-1 mt-3 mb-3 myColPics myColPics4">
                        <p class="myPGridRightRadovi">Čiščenje nakon građevinskih radova</p>
                    </div>
                </div>
            </div>
        </div>
    </div>