
<div class="section1-wrapper">
  <div class="section_slika_services"  [style.background-size]="backgroundSize">
        <div class="text-wrapper">
            <div class="text-wrapper">
                <p class="centered-text">Profesionalne usluge čišćenja</p>
                <p class="centered-text2">Lorem ipsum dolor sit amet. Et totam quas eum tenetur molestiae in nobis quia ex officia sunt est galisum rerum sit quia repellendus ut iste fugiat. Aut sunt voluptatem ea libero fuga qui molestiae animi. Et minima rerum aut autem blanditiis vel tempora architecto aut sint magnam.</p>
              
        </div>
    </div>
</div>
<div class="section2-wrapper">
    <div class="section_slika_services2">
    <div class="container-fluid ">
        <div class="row column-gap-3 d-flex justify-content-center">
            <div class="col-lg-5 order-lg-1 order-1 mt-3 mb-3 myColPics myColPics1 " >
            
            </div>
            <div class="col-lg-5 order-lg-2 order-2 mt-3 mb-3 myColText myColText1"></div>
        </div>
        <div class="row column-gap-3 d-flex justify-content-center">
            <div class="col-lg-5 order-lg-1 mt-3 order-2 mb-3 myColText myColText2">

            </div>
            <div class="col-lg-5 order-lg-2 mt-3 order-1 mb-3my myColPics myColPics2">

            </div>
        </div>
        <div class="row column-gap-3 d-flex justify-content-center">
            <div class="col-lg-5 order-lg-1 order-1 mt-3 mb-3 myColPics myColPics3">

            </div>
            <div class="col-lg-5 order-lg-2 order-2 mt-3 mb-3 myColText myColText3"></div>
        </div>
        <div class="row column-gap-3 d-flex justify-content-center">
            <div class="col-lg-5 order-lg-1 order-2 mt-3 mb-3 myColText myColText4">

            </div>
            <div class="col-lg-5 order-lg-2 order-1 mt-3 mb-3 myColPics myColPics4">

            </div>
        </div>
    </div>
    </div>
</div>
