<div class="section1-wrapper">
    <div class="section_slika_services" [style.background-size]="backgroundSize">
        <div class="text-wrapper">
            <p *ngIf="!isMobile" class="centered-text">Dobrodošli u "Naše usluge" <br> vaš vodič kroz čistoću i sjaj!
            </p>
            <p *ngIf="isMobile" class="centered-text">Dobrodošli u "Naše usluge" - vaš vodič kroz čistoću i sjaj!</p>
            <p class="centered-text2">Spremni smo očistiti sve što zamislite - od mirnih domova do pulsirajućih
                poslovnih prostora, i čak nakon graditeljskih poduhvata, bez obzira na to koliko se zadaća čini
                izazovnom. Zaronite s nama u svijet čistoće gdje mašta postaje stvarnost, a svaki prostor zrači novim
                sjajem.</p>
            <img src="/assets/moco.jpeg" alt="moco_ukrasna_slika" class="moco_element_uWrapperTextu">
        </div>
    </div>
</div>
<div class="section2-wrapper">
    <div class="section_slika_services2">
        <div class="container-fluid ">
            <div class="row column-gap-3 d-flex justify-content-center">
                <div class="col-lg-5 order-lg-1 order-1 mb-3 myColPics myColPics1 ">
                    <p class="myPGridLeft">Stanovi i kuće</p>
                </div>
                <div class="col-lg-5 order-lg-2 order-2 mt-3 mb-3 myColText myColText1">
                    <div class="myPTextGridWrapper">
                        <p class="myPTextGridRight">Uživajte u besprijekornom okruženju svog doma s našom predanošću
                            čistoći! Za nas, čišćenje vašeg stambenog prostora nije samo posao, već prilika za izgradnju
                            povjerenja i bliskih odnosa s našim klijentima. Pružamo mogućnost snimanja čišćenja kako
                            biste uvijek imali povjerenja u našu uslugu.</p>
                    </div>
                </div>
            </div>
            <div class="row column-gap-3 d-flex justify-content-center">
                <div class="col-lg-5 order-lg-1 mt-3 order-2 mb-3 myColText myColText2">
                    <div class="myPTextGridWrapper">
                        <p class="myPTextGridLeft">Dobrodošli u svijet čistoće za vaše apartmane! Svjesni smo dinamičnog
                            ritma sezone i stalnih promjena gostiju. Naša specijalnost je brzo i efikasno čišćenje
                            apartmana, bilo da je u pitanju dnevni, tjedni ili mjesečni najam. Naplaćujemo po ulasku i
                            osiguravamo usluge pranja posteljina, jastučnica i navlaka kako bi vaši gosti uvijek uživali
                            u svježini i udobnosti.</p>
                    </div>
                </div>
                <div class="col-lg-5 order-lg-2 mt-3 order-1 mb-3my myColPics myColPics2">
                    <p class="myPGridRight">Apartmani</p>
                </div>
            </div>
            <div class="row column-gap-3 d-flex justify-content-center">
                <div class="col-lg-5 order-lg-1 order-1 mt-3 mb-3 myColPics myColPics3">
                    <p class="myPGridLeft">Poslovni prostori</p>
                </div>
                <div class="col-lg-5 order-lg-2 order-2 mt-3 mb-3 myColText myColText3">
                    <div class="myPTextGridWrapper">
                        <p class="myPTextGridRight">Osiguravamo da vaš poslovni prostor odiše profesionalnošću i
                            urednošću! Fleksibilno prilagođavamo vrijeme čišćenja vašem rasporedu, no preferiramo ulazak
                            nakon radnog vremena jer kad mi čistimo prašina se diže!</p>
                    </div>
                </div>
            </div>
            <div class="row column-gap-3 d-flex justify-content-center">
                <div class="col-lg-5 order-lg-1 order-2 mt-3 mb-3 myColText myColText4">
                    <div class="myPTextGridWrapper">
                        <p class="myPTextGridLeft">Osiguravamo da novi vlasnici uđu u besprijekorno čistu zgradu nakon
                            građevinskih radova! Iako prljavština može biti izazov, naš tim je uvijek spreman za akciju.
                            Važno je da površine blistaju kako bi se stvorio pozitivan dojam.</p>
                    </div>
                </div>
                <div class="col-lg-5 order-lg-2 order-1 mt-3 myColPics myColPics4">
                    <p class="myPGridRightRadovi">Čišćenje nakon građevinskih radova</p>
                </div>
            </div>
            <div class="row column-gap-3 d-flex justify-content-center">
                <div class="col-lg-5 order-lg-1 order-1 mt-3 mb-3 myColPics myColPics5">
                    <p class="myPGridLeft">Dubinsko Čišćenje</p>
                </div>
                <div class="col-lg-5 order-lg-2 order-2 mt-3 mb-3 myColText myColText3">
                    <div class="myPTextGridWrapper">
                        <p class="myPTextGridRight mb-3">Osiguravamo temeljito čišćenje namještaja i drugih materijala
                            do najsitnijih detalja! Naša usluga obuhvaća i čišćenje tepiha, zavjesa te dezinfekciju
                            madraca. Bez obzira na izazov, naš tim se neustrašivo suočava s zadatkom i to sa
                            biorazgradivim sredstvima.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>