.section_slika_services {
    width: 100vw;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url('/assets/sectionServicesSlika.jpeg');
    background-size: 100% 100%; 
    object-fit: cover;
    z-index: 2;
    background-position: center;
    position: absolute;
    
}