.section_slika_services {
    width: 100vw;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url('/assets/sectionServicesSlika1.jpeg');
    background-size: 100% 100%; 
    object-fit: cover;
    z-index: 2;
    background-position: center;
}

.text-wrapper {
    position: relative;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    width: 680px;
    z-index: 3;
}
.moco_element_uWrapperTextu{
        position: absolute;
        top: -16%;
        right: -40%;
        transform: translateY(-50%);
        width: auto;
        height: 200%;
        z-index: 9999;
}

.centered-text {
    font-size: 50px;
}

.centered-text2 {
    font-size: 20px;
}

.section_slika_services2 {
    width: 100vw;
    height: 1230px;
    background-repeat: no-repeat;
    background-image: url('/assets/sectionServicesSlika2.jpeg');
    background-size: 100% 100%; 
    background-position: center;
}

.section1-wrapper, .section2-wrapper {
    position: relative;
    width: 100vw;
}
.myColPics{
    height: 270px; 
    width: 450px; 
    background-color: red;
}
.myColText{
    height: 270px; 
    width: 450px; 
}
.myColPics1{
    background-image: url('/assets/sectionServicesGrid1.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
.myColPics2{
    background-image: url('/assets/sectionServicesGrid2.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
.myColPics3{
    background-image: url('/assets/sectionServicesGrid3.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
.myColPics4{
    background-image: url('/assets/sectionServicesGrid4.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
.myPGridLeft{
    position: relative;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    width: 100%;
    font-size: 35px;
    z-index: 3;
    @media (max-width: 600px) {
        font-size: 18px; 
    }
}
.myPGridRight{
    position: relative;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: right;
    width: 100%;
    font-size: 35px;
    z-index: 3;
    @media (max-width: 600px) {
        font-size: 18px; 
    }
}

.myPGridRightRadovi{
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: right;
    width: 100%;
    font-size: 35px;
    z-index: 3;
    line-height: 1.2;
    @media (max-width: 600px) {
        font-size: 18px; 
    }
}

.myPTextGridWrapper{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(39, 37, 37);
    width: 100%;
    font-size: 20px;
    z-index: 3;
    line-height: 1.2;
    padding: 5px;
}
