.container {
    height: fit-content;
}

.section_slika_services {
    width: 100vw;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url("/assets/sectionServicesSlika1.jpeg");
    background-size: 100% 100%;
    object-fit: cover;
    z-index: 2;
    background-position: center;
    @media (max-width: 450px) {
        height: 520px;
        background-size: 100% 100%;
    }
}

.text-wrapper {
    position: relative;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #ececec;
    text-align: left;
    width: 680px;
    z-index: 3;
    @media (max-width: 450px) {
        width: 100%;
        top: 48%;
        left: 50%;
        padding: 25px;
        transform: translate(-50%, -30%);
    }
}
.moco_element_uWrapperTextu {
    position: absolute;
    top: -16%;
    right: -40%;
    transform: translateY(-50%);
    width: auto;
    height: 200%;
    z-index: 9999;
    @media (max-width: 450px) {
        top: -20%;
        right: -10%;
        height: 87%;
    }
}

.centered-text {
    font-size: 50px;
    font-weight: bold;
    color: #ececec;
    @media (max-width: 450px) {
        padding-right: 80px;
        font-size: 30px;
        margin-right: 20px;
    }
}

.centered-text2 {
    font-size: 20px;
    font-weight: lighter;
    color: #ececec;
    @media (max-width: 450px) {
        font-size: 17px;
    }
}

.section_slika_services2 {
    width: 100vw;
    height: fit-content;
    background-repeat: no-repeat;
    background-image: url("/assets/sectionServicesSlika2.jpeg");
    background-size: 100% 100%;
    background-position: center;
    @media (max-width: 450px) {
        height: auto;
        background-repeat: repeat-y;
        background-size: 100%;
    }
}

.section1-wrapper,
.section2-wrapper {
    position: relative;
    width: 100vw;
    height: fit-content;
}
.myColPics {
    height: 270px;
    width: 450px;
}
.myColText {
    height: 270px;
    width: 450px;
}
.myColPics1 {
    background-image: url("/assets/sectionServicesGrid1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.myColPics2 {
    background-image: url("/assets/sectionServicesGrid2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.myColPics3 {
    background-image: url("/assets/sectionServicesGrid3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.myColPics4 {
    background-image: url("/assets/sectionServicesGrid4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.myPGridLeft {
    position: relative;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ececec;
    text-align: left;
    width: 100%;
    font-size: 35px;
    z-index: 3;
    @media (max-width: 450px) {
        font-size: 20px;
        line-height: 2;
    }
}
.myPGridRight {
    position: relative;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ececec;
    text-align: right;
    width: 100%;
    font-size: 35px;
    z-index: 3;
    @media (max-width: 450px) {
        font-size: 20px;
        line-height: 2;
    }
}

.myPGridRightRadovi {
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ececec;
    text-align: right;
    width: 100%;
    font-size: 35px;
    z-index: 3;
    line-height: 1.2;
    @media (max-width: 450px) {
        font-size: 20px;
        top: 90%;
        line-height: 2;
    }
}
.myPTextGridRight,
.myPTextGridLeft {
    color: #565656;
    font-family: "WixMadeforDisplay-VariableFont_wght", sans-serif;
    @media (max-width: 450px) {
        font-size: 17px;
        top: 90%;
        line-height: 1.7em;
    }
}

.myPTextGridWrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #565656;
    width: 100%;
    font-size: 20px;
    z-index: 3;
    line-height: 1.2;
    padding: 5px;
    font-weight: lighter;
    @media (max-width: 450px) {
        padding: 30px;
    }
}
