/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: 'MyFont';
    src: url('/assets/WixMadeforDisplay-VariableFont_wght.ttf');
  }

  $global-font-color-black: #333; 


.main-container {
    min-height: 60vh;

}

body {
    font-family: 'WixMadeforDisplay-VariableFont_wght', sans-serif;
}
@media screen and (max-width: 1200px) {
    .navbar-collapse {
      background-color: rgba(255, 255, 255, 0.961) !important;
    }
    .navbar-collapse .nav-link {
      text-align: start;
      font-size: large;
      color: #565656;
      margin-left: 20px;
      margin-right: 0px;
    }
    .navbarNav{
        z-index: 9999 !important;
    }
  }

  body, html {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
  }
