

.section_slika {
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-image: url('/assets/sekcijaSlika1.jpg');
    background-size: 100% 100%; 
}

.text-wrapper {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    width: 680px;
}
.right-image {
    position: absolute;
    top: -30%;
    right: -30%;
    transform: translateY(-50%);
    width: auto;
    height: 150%;
    z-index: 2;
}
.centered-text {
    font-size: 50px;
}

.centered-text2 {
    font-size: 20px;
}
.white-box {
    position: absolute;
    top: calc(50% + 210px); // Adjust this value as needed
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 390px;
    background: white;
    box-sizing: border-box;
}


.contact-form {
    width: 100%;
}

.form-headline {
    font-size: 30px;
    font-weight: bold;
    text-align: start;
    margin-left: 30px;
    margin-right: 30px;
    padding-right: 10px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-weight: bold;
}

.col-lg-5 {
    flex: 0 0 calc(50% - 10px); // Subtract 10px for the gap between columns
}

.col-lg-10 {
    flex: 0 0 100%;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none; // Remove the border
    background-color: rgb(222, 241, 231); // Add a light green background
}

textarea {
    height: 100px; // Adjust this value as needed
}
.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px; // Add some space above the button
}

.submit-button {
    width: 114px;
    height: 50px;
    background-color: #3e83a4;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}