.section_slika {
  width: 100%;
  height: 1500px;
  background-repeat: no-repeat;
  background-image: url('/assets/sekcijaSlika1.jpg');
  background-size: cover; 
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 450px) {
    height: fit-content;
  }	
}

.text-wrapper {
  color: white;
  text-align: left;
  margin-top: 100px;
  margin-right: 100px;
}
.grid-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // This creates 3 columns
  justify-items: center; // This centers the children horizontally
}
.parent-container {
  position: relative; // Add this line
}

.right-image {
  position: absolute;
  top: -70%;
  right: -30%;
  width: auto;
  height: 130%;
  z-index: 2;
  @media (max-width: 450px) {
    top: -118%;
    right: -35%;
    height: 70%;
  } 
}

.centered-text {
  font-size: 50px;
  @media (max-width: 450px) {
    font-size: 30px;
    margin-right: 20px;
  } 
}

.centered-text2 {
  font-size: 20px;
  @media (max-width: 450px) {
    font-size: 15px;
  } 
}

.white-box {
  height: 390px;
  background: white;
  box-sizing: border-box;
  margin-top: 50px;
  @media (max-width: 450px) {
    height: 420px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  } 
}

.contact-form {
  width: 100%;
  padding: 30px;
}

.form-headline {
  font-size: 30px;
  font-weight: bold;
  text-align: start;
  margin-bottom: 20px;
  @media (max-width: 450px) {
    line-height: 1.1em;
  } 
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.col-lg-5 {
  flex: 0 0 calc(50% - 10px); // Subtract 10px for the gap between columns
}

.col-lg-10 {
  flex: 0 0 100%;
}

input, textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none; // Remove the border
  background-color: rgb(222, 241, 231); // Add a light green background
}

textarea {
  height: 100px; // Adjust this value as needed
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px; // Add some space above the button
}

.submit-button {
  width: 114px;
  height: 50px;
  background-color: #3e83a4;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.badi {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main#carousel {
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 600px;
}

div.item {
  width: 300px;
  height: 400px;
  background-color: coral;
  transition: all 0.25s linear;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

div.item:nth-of-type(1),
div.item:nth-of-type(3) {
  height: 350px;
  margin: 25px 0;
}

div.item:nth-of-type(1) {
  background-color: #90f1ef;
}

div.item:nth-of-type(2) {
  background-color: #fe83b2;
}

div.item:nth-of-type(3) {
  background-color: #fef084;
}

.item-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  color: rgb(0, 0, 0);
  padding: 10px;
}
.white-box-carousel-mobile{
  height: fit-content;
  background-color: white;
  padding: 50px;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  
}
.Card1_Headliner_mobile, .Card2_Headliner_mobile, .Card3_Headliner_mobile{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  
}
.Card1_p_mobileP{
 line-height: 2em;
}
.Card1_p_mobile{
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.Card2_p_mobile{
  font-size: 17px;
  text-align: left;
  margin-bottom: 10px;
}
.Card3_p_mobile{
  font-size: 17px;
  text-align: left;
  margin-bottom: 10px;
}
.gumb_mobile{
  width: 114px;
  height: 35px;
  background-color: #3e83a4;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 25px;
  
}
.container_margina{
  @media (max-width: 450px) {
    margin-left: 20px;
    margin-right: 20px;
  }
  
}
.callUsButton{
    background-color: #3e83a4;
    color: white;
    border: none;
    width: 250px;
    border-radius: 0;
    height: 50px;

}