
<div class="section_slika">

       

       


<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
            <div class="text-wrapper">
                <p class="centered-text">Profesionalne usluge čišćenja</p>
                <p class="centered-text2">Lorem ipsum dolor sit amet. Et totam quas eum tenetur molestiae in nobis quia ex officia sunt est galisum rerum sit quia repellendus ut iste fugiat. Aut sunt voluptatem ea libero fuga qui molestiae animi. Et minima rerum aut autem blanditiis vel tempora architecto aut sint magnam.</p>
            </div>
        </div>
           </div>
         <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="parent-container">
                <div class="white-box" whiteBox>
                    <form class="contact-form">
                        <img src="/assets/cistaljka.jpeg" alt="Cistaljka" class="right-image">
                       
                        <p class="form-headline">Kontaktirajte nas i zatražite ponudu</p>
                        <div class="form-row">
                            <div class="col-lg-5">
                                <label for="contact-number">Kontakt broj</label>
                                <input type="tel" id="contact-number" placeholder="Kontakt broj">
                            </div>
                            <div class="col-lg-5">
                                <label for="email">Email</label>
                                <input type="email" id="email" placeholder="email@example.com">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-10">
                                <label for="message">Vaša poruka</label>
                                <textarea id="message" rows="4" placeholder="Napišite upit"></textarea>
                            </div>     
                        </div>
                        <div class="button-wrapper">
                            <button type="submit" class="submit-button">Pošalji</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
           </div>
           <div class="row d-flex justify-content-center">
            <div class="col-lg-10">
                <div class="badi">
                    <main id="carousel">
                        <div class="item"><p class="item-text">Lorem ipsum dolor sit amet. Et totam quas eum tenetur molestiae in nobis quia ex officia sunt est galisum rerum sit quia repellendus</p></div>
                        <div class="item"><p class="item-text">Lorem ipsum dolor sit amet. Et totam quas eum tenetur molestiae in nobis quia ex officia sunt est galisum rerum sit quia repellendus</p></div>
                        <div class="item"><p class="item-text">Lorem ipsum dolor sit amet. Et totam quas eum tenetur molestiae in nobis quia ex officia sunt est galisum rerum sit quia repellendus</p></div>
                      </main>
                </div>
            </div>
           </div>
</div>

</div>