.section_slika {
  width: 100%;
  height: fit-content;
  background-repeat: no-repeat;
  background-image: url("/assets/sekcijaSlika1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 450px) {
    height: fit-content;
  }
}

.text-wrapper {
  color: white;
  text-align: left;
  margin-top: 100px;
}
.grid-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.parent-container {
  position: relative;
}

.right-image {
  position: absolute;
  top: -70%;
  right: -30%;
  width: auto;
  height: 130%;
  z-index: 2;
  @media (max-width: 450px) {
    top: -118%;
    right: -47%;
    height: 70%;
  }
}

.centered-text {
  font-size: 50px;
  font-weight: bold;
  color: #ececec;
  @media (max-width: 450px) {
    font-size: 30px;
    margin-right: 20px;
  }
}

.centered-text2 {
  font-size: 20px;
  font-weight: lighter;
  color: #ececec;
  @media (max-width: 450px) {
    font-size: 17px;
  }
}

.white-box {
  height: 390px;
  background: rgba(255, 255, 255, 0.941);
  box-sizing: border-box;
  margin-top: 50px;
  @media (max-width: 450px) {
    height: fit-content;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.contact-form {
  width: 100%;
  padding: 30px;
  @media (max-width: 450px) {
    padding: 15px;
  }
}

.form-headline {
  font-size: 1.4em;
  letter-spacing: 0em;
  font-weight: 600;
  line-height: 0.5em;
  text-align: start;
  margin-bottom: 20px;
  @media (max-width: 450px) {
    line-height: 1.1em;
    font-size: 1.4em;
  }
}

@media (max-width: 450px) {
  .contact-form label {
    margin-bottom: 10px;
    font-weight: bold;
  }
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-family: "WixMadeforDisplay-VariableFont_wght", sans-serif;

  @media (max-width: 450px) {
    flex-direction: column;
  }
}

.col-lg-5 {
  flex: 0 0 calc(50% - 10px);
}

.col-lg-10 {
  flex: 0 0 100%;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  background-color: #dbe8e8;
}
input:hover,
textarea:hover {
  background-color: #f8eba8;
}

textarea {
  height: 100px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-button {
  background: linear-gradient(to right, #e7c703 50%, #3e83a4 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: #ececec;
  border: none;
  width: 150px;
  border-radius: 4%;
  height: 50px;
  margin-top: 20px;
  font-weight: bold;
  transition: all 1s ease-out;
  &:hover {
    color: #565656;
    background-position: left bottom;
  }
}

.badi {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main#carousel {
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 600px;
}

div.item {
  width: 300px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.011);
  transition: all 0.25s linear;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

div.item:nth-of-type(1),
div.item:nth-of-type(3) {
  height: 350px;
  margin: 25px 0;
}

div.item:nth-of-type(1) {
  background-color: #90f1ef;
  &:hover {
    background-color: #3bf3ed;
  }
}

div.item:nth-of-type(2) {
  background-color: #ffe292;
  &:hover {
    background-color: #facd4f;
  }
}

div.item:nth-of-type(3) {
  background-color: #fe83b2;
  &:hover {
    background-color: #fa639d;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.item-content {
  text-align: center;
}

.item-text-header {
  font-size: 1.3em;
  color: #565656;
  font-weight: bolder;
  margin-bottom: 10px;
}

.item-text {
  font-size: 1em;
  color: #565656;
}
.white-box-carousel-mobile {
  height: fit-content;
  background-color: white;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.Card1_Headliner_mobile {
  font-size: 1.4em;
  font-weight: bold;
  color: #565656;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.Card2_Headliner_mobile,
.Card3_Headliner_mobile {
  font-size: 1.4em;
  font-weight: bold;
  color: #565656;
  text-align: center;
}
.Card1_p_mobileP {
  font-size: 17px;
  font-weight: lighter;
  color: #565656;
  font-family: "WixMadeforDisplay-VariableFont_wght", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}
.Card1_p_mobile {
  font-size: 17px;
  font-weight: lighter;
  color: #565656;
  font-family: "WixMadeforDisplay-VariableFont_wght", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
.Card2_p_mobile {
  font-size: 17px;
  color: #565656;
  text-align: left;
  margin-bottom: 10px;
  padding: 10px;
  text-align: justify;
}
.Card3_p_mobile {
  font-size: 17px;
  color: #565656;
  text-align: left;
  margin-bottom: 10px;
  padding: 10px;
  text-align: justify;
}
.gumb_mobile {
  width: 114px;
  height: 40px;
  background-color: #3e83a4;
  border: none;
  color: #ececec;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.container_margina {
  @media (max-width: 450px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.callUsButton {
  background-color: #3e83a4;
  color: #ececec;
  border: none;
  width: 250px;
  border-radius: 0;
  height: 50px;
}
.gumb {
  background-color: #3e83a4;
  color: #ececec;
  border: none;
  width: 100px;
  border-radius: 0;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
  &:hover {
    background-color: #6a9ab1;
  }
}

.ruka1Element {
  position: absolute;
  width: 30%;
  height: auto;
  z-index: 2;
  left: 0px;
}
.ruka2Element {
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 9999;
  right: 1px;
  transform: scaleX(-1) translateX(-30px) translate(0, -90px) rotate(-30deg);
}
.section-home2-wrapper {
  position: relative;
  width: 100vw;
  @media (max-width: 450px) {
    margin-top: 0px !important;
  }
}
.slikaNaslovnaColLijevo{
  height: 700px;
  padding: 20px;
  background-image: url("/assets/cistacica.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

  @media (min-width: 650px) and (max-width: 1400px) {
    min-width: 650px;
  }

  @media (min-width: 450px) and (max-width: 650px) {
    min-width: 540px;
  }

  @media (max-width: 450px) {
    padding: 0px !important;
    margin-bottom: 20px !important;
    margin-top: 0px !important;
  }
}
.slik
.slikaNaslovnaLijevo{
  min-width: 600px;
  height: auto;
  object-fit: cover;
}
.mobileslikaWrapper {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.slikaNaslovnaLijevoMobile {
  width: 100%;
  height: 100%;
}
.naslovnaColDesno{
  height: 800px;
  min-width: 600px;
  margin-top: 50px;
  @media (max-width: 450px) {
    min-width: 1px !important;
    margin-top: 0px;
  }
}

.naslovnaColDesno p {
  color: #565656;
  margin-bottom: 20px;
  flex-direction: row;
}
.TextWrapperCol{
  display: flex;
  flex-direction: column;
@media (max-width: 450px) {
 padding: 20px;
}
}

.naslovnaColDesno .header1Col {
  color: #14287b;
  font-weight: bold;
  line-height: 1.2em;
}

.naslovnaColDesno .header2Col {
  color: #14287b;
  line-height: 1.2em;
}
.header1Col{
  font-size: 45px;
  font-weight: bold;
}
.header2Col{
  font-size: 40px;
}
.slikaNaslovnaColLijevo{
  margin-top: 20px;
}
.section2Naslovna{
  height: fit-content;
  width: 100vw;
  background-image: url("/assets/section2Naslovna.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  @media (max-width: 450px) {
    height: auto;
    background-repeat: repeat-y;
    background-size: 100%;
}
}
.brojmobitelaSpan, .emailSpan{
  color: #565656;
  font-weight: lighter;
}
.brojmobitela, .email{
  color:  #ffffff;
  font-weight: bold;
}
.paragraph{
  font-size: 20px;
}
.procesiKucice{
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.span1, .span2, .span3, .span4{
  height: 150px;
  width: 150px;
  border-radius: 3%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 21;
}
.section3Naslovna{
  height: fit-content;
  width: 100%;
background-image: url("/assets/section3Naslovna.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.span1, .span2, .span3, .span4{
background-size: cover;
background-repeat: no-repeat;
min-width: 150px;
z-index: 22;
margin-bottom: 20px;
}
.span-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.nemaOgranicenja{
  color: #14287b;
  font-weight: bold;
}
.spanP{
  font-size: 20px;
  font-weight: bold;
  color: #14287b;
}
.span1{
  background-image: url("/assets/form1.png");
}
.span2{
  background-image: url("/assets/form2.png");
}
.span3{
  background-image: url("/assets/form3.png");
}
.span4{
  background-image: url("/assets/form4.png");
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.span1, .span2, .span3, .span4 {
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.2s;
}

.span1:hover, .span2:hover, .span3:hover, .span4:hover {
  animation: shake 0.5s;
  @keyframes shake {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }
  }
  
  .span1, .span2, .span3, .span4 {
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.2s;
  }
  
  .span1:hover, .span2:hover, .span3:hover, .span4:hover {
    animation: shake 5s;
    opacity: 70%;
  }
}
.section4Naslovna {
    width: 100vw;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url("/assets/section4.jpeg");
    background-size: 100% 100%;
    object-fit: cover;
    z-index: 2;
    background-position: center;
    @media (max-width: 450px) {
        height: 520px;
        background-size: 100% 100%;
    }
}

.section4Text{
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  text-align: start;
  margin-right: 50px;

  @media (max-width: 767px) {
    font-size: 30px; 
  }
}
.text-wrapper-section4{
  max-width: fit-content;
  max-height: 500px;
  margin-bottom: 20px;
  align-items: center;
  flex-direction: column;
}
.colTextSection4{
  align-items: center;
}
.naPravomMjestuSpan{
  color:#e4c700;
}
.gumbSection4 {
  background: linear-gradient(to right, #e7c703 50%, #3e83a4 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: #ececec;
  border: none;
  width: 200px;
  border-radius: 4%;
  height: 60px;
  margin-top: 20px;
  font-weight: bold;
  transition: all 1s ease-out;
  &:hover {
    color: #565656;
    background-position: left bottom;
  }
}

.kucice-container{
  padding: 20px;
  @media (max-width: 450px) {
padding: 0px;
  }
}
.container-tekstSlika{
  padding: 20px;
  @media (max-width: 450px) {
    padding: 0px;
      }
}
.container-textSlikaIspod{
  padding: 20px;
  @media (max-width: 450px) {
    padding: 0px;
    
      }
}
.container-kucicePadding{
  padding-bottom: 20px;
  @media (max-width: 450px) {
    padding-bottom: 0px;
      }
}
.kucice-container{
  padding-bottom: 20px;
  @media (max-width: 450px) {
    padding-bottom: 0px;
}
}
.gumb-wrapper4{
  margin-left: 200px;
}
