.section_slika {
  width: 100%;
  height: 1500px;
  background-repeat: no-repeat;
  background-image: url("/assets/sekcijaSlika1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 450px) {
    height: fit-content;
  }
}

.text-wrapper {
  color: white;
  text-align: left;
  margin-top: 100px;
}
.grid-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.parent-container {
  position: relative;
}

.right-image {
  position: absolute;
  top: -70%;
  right: -30%;
  width: auto;
  height: 130%;
  z-index: 2;
  @media (max-width: 450px) {
    top: -118%;
    right: -47%;
    height: 70%;
  }
}

.centered-text {
  font-size: 50px;
  font-weight: bold;
  color: #ececec;
  @media (max-width: 450px) {
    font-size: 30px;
    margin-right: 20px;
  }
}

.centered-text2 {
  font-size: 20px;
  font-weight: lighter;
  color: #ececec;
  @media (max-width: 450px) {
    font-size: 17px;
  }
}

.white-box {
  height: 390px;
  background: rgba(255, 255, 255, 0.941);
  box-sizing: border-box;
  margin-top: 50px;
  @media (max-width: 450px) {
    height: fit-content;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.contact-form {
  width: 100%;
  padding: 30px;
  @media (max-width: 450px) {
    padding: 15px;
  }
}

.form-headline {
  font-size: 1.4em;
  letter-spacing: 0em;
  font-weight: 600;
  line-height: 0.5em;
  text-align: start;
  margin-bottom: 20px;
  @media (max-width: 450px) {
    line-height: 1.1em;
    font-size: 1.4em;
  }
}

@media (max-width: 450px) {
  .contact-form label {
    margin-bottom: 10px;
    font-weight: bold;
  }
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-family: "WixMadeforDisplay-VariableFont_wght", sans-serif;

  @media (max-width: 450px) {
    flex-direction: column;
  }
}

.col-lg-5 {
  flex: 0 0 calc(50% - 10px);
}

.col-lg-10 {
  flex: 0 0 100%;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  background-color: #dbe8e8;
}
input:hover,
textarea:hover {
  background-color: #f8eba8;
}

textarea {
  height: 100px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-button {
  width: 114px;
  height: 40px;
  background-color: #3e83a4;
  border: none;
  color: #ececec;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: #5b92ac;
  }
}

.badi {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main#carousel {
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 600px;
}

div.item {
  width: 300px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.011);
  transition: all 0.25s linear;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

div.item:nth-of-type(1),
div.item:nth-of-type(3) {
  height: 350px;
  margin: 25px 0;
}

div.item:nth-of-type(1) {
  background-color: #90f1ef;
  &:hover {
    background-color: #3bf3ed;
  }
}

div.item:nth-of-type(2) {
  background-color: #ffe292;
  &:hover {
    background-color: #facd4f;
  }
}

div.item:nth-of-type(3) {
  background-color: #fe83b2;
  &:hover {
    background-color: #fa639d;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.item-content {
  text-align: center;
}

.item-text-header {
  font-size: 1.3em;
  color: #565656;
  font-weight: bolder;
  margin-bottom: 10px;
}

.item-text {
  font-size: 1em;
  color: #565656;
}
.white-box-carousel-mobile {
  height: fit-content;
  background-color: white;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.Card1_Headliner_mobile {
  font-size: 1.4em;
  font-weight: bold;
  color: #565656;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.Card2_Headliner_mobile,
.Card3_Headliner_mobile {
  font-size: 1.4em;
  font-weight: bold;
  color: #565656;
  text-align: center;
}
.Card1_p_mobileP {
  font-size: 17px;
  font-weight: lighter;
  color: #565656;
  font-family: "WixMadeforDisplay-VariableFont_wght", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}
.Card1_p_mobile {
  font-size: 17px;
  font-weight: lighter;
  color: #565656;
  font-family: "WixMadeforDisplay-VariableFont_wght", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
.Card2_p_mobile {
  font-size: 17px;
  color: #565656;
  text-align: left;
  margin-bottom: 10px;
  padding: 10px;
  text-align: justify;
}
.Card3_p_mobile {
  font-size: 17px;
  color: #565656;
  text-align: left;
  margin-bottom: 10px;
  padding: 10px;
  text-align: justify;
}
.gumb_mobile {
  width: 114px;
  height: 40px;
  background-color: #3e83a4;
  border: none;
  color: #ececec;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.container_margina {
  @media (max-width: 450px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.callUsButton {
  background-color: #3e83a4;
  color: #ececec;
  border: none;
  width: 250px;
  border-radius: 0;
  height: 50px;
}
.gumb {
  background-color: #3e83a4;
  color: #ececec;
  border: none;
  width: 100px;
  border-radius: 0;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
  &:hover {
    background-color: #6a9ab1;
  }
}

.ruka1Element {
  position: absolute;
  width: 30%;
  height: auto;
  z-index: 2;
  left: 0px;
}
.ruka2Element {
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 9999;
  right: 1px;
  transform: scaleX(-1) translateX(-30px) translate(0, -90px) rotate(-30deg);
}
