<div class="section_slika pb-5">
    <div class="container container_margina">
        <div class="row d-flex justify-content-center mx-2">
            <div class="col-lg-8">
                <div *ngIf="isMobile" class="button_wrapper d-flex justify-content-center">
                    <button class="callUsButton">Nazovite nas na <a class="acallus" href="tel:
                        +385 95 3924580">
                            +385 95 3924 580</a>
                    </button>
                </div>
                <div class="text-wrapper">
                    <p class="centered-text" *ngIf="isMobile">Profesionalne <br>
                        usluge čišćenja</p>
                    <p class="centered-text" *ngIf="!isMobile">Profesionalne
                        usluge čišćenja</p>
                    <p class="centered-text2">Obratite se našem profesionalnom
                        timu ODMAH! Ispunite upitnik i zatražite
                        ponudu.
                        Uštedite vrijeme i novac i dopustite površinama da
                        zablistaju.
                        Cijene se formiraju individualno jer se svakom klijentu
                        posvećujemo maksimalnu pažnju.
                    </p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center" *ngIf="!isMobile">
            <div class="col-lg-8">
                <div class="parent-container">
                    <div class="white-box" whiteBox>
                        <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                            <img src="/assets/cistaljka.jpeg" alt="moco_ukrasna_slika" class="right-image">
                            <p class="form-headline">Kontaktirajte nas i
                                zatražite ponudu</p>
                            <div class="form-row">
                                <div class="col-lg-5 col-12">
                                    <label for="name">Ime prezime/Tvrtka</label>
                                    <input type="text" id="name" formControlName="name">
                                </div>
                                <div class="col-lg-5 col-12">
                                    <label for="Kontakt broj/email">Kontakt
                                        broj/email </label>
                                    <input type="text" id="contact" formControlName="contact">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-10 col-12">
                                    <label for="message">Vaš upit: </label>
                                    <textarea id="message" rows="4" formControlName="message"
                                        placeholder="Navedite kvadraturu, vrstu objekta te rok do kojeg želite da bude očišćeno!"></textarea>
                                </div>
                            </div>
                            <div class="button-wrapper">
                                <button type="submit" class="submit-button">Pošalji</button>
                            </div>
                            <p *ngIf="isSubmitted" class="feedback">{{ feedbackMessage }}</p>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mx-2" *ngIf="isMobile">
            <div class="col-lg-8">
                <div class="parent-container">
                    <div class="white-box" whiteBox>
                        <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmitMobile()">
                            <img src="/assets/cistaljka.jpeg" alt="moco_ukrasna_slika" class="right-image">
                            <p class="form-headline">Kontaktirajte nas i zatražite ponudu</p>
                            <div class="form-row">
                                <div class="col-lg-5">
                                    <label for="name">Ime prezime/Tvrtka </label>
                                    <input type="text" id="name" formControlName="name">
                                </div>
                                <div class="col-lg-5">
                                    <label for="contact">Kontakt broj/Email </label>
                                    <input type="text" id="contact" formControlName="contact">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-10">
                                    <label for="message">Vaš upit: </label>
                                    <textarea id="message" rows="4" formControlName="message"
                                        placeholder="Navedite kvadraturu, vrstu objekta te rok do kojeg želite da bude očišćeno!"></textarea>
                                </div>
                            </div>
                            <div class="button-wrapper">
                                <button type="submit" class="gumb_mobile">Pošalji</button>
                            </div>
                            <p class="feedback" *ngIf="isSubmitted">{{ feedbackMessage }}</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-home2-wrapper mt-5">
    <div class="section2Naslovna">
        <div *ngIf="!isMobile" class="container">
            <div class="row d-flex justify-content-center column-gap-3 ">
                <div class="slikaNaslovnaColLijevo col-lg-5 col-sm-10 d-flex justify-content-center"></div>
                <div class="naslovnaColDesno col-lg-5 col-sm-10 d-flex justify-content-start p-5">
                    <div class="TextWrapperCol">
                        <p class="header1Col">Naš primarni cilj je Vaše
                            zadovoljstvo.</p>
                        <p class="header2Col">Želite li svježinu i urednost? Na
                            pravom ste mjestu</p>
                        <p class="paragraph header3Col">Sa više od 7 godina
                            iskustva, pouzdanosti i
                            kvalitetom osiguravamo čistoću Vašeg prostora.
                            Moguće je kombinirati usluge prema Vašim željama.
                            <span class="nemaOgranicenja">Za nas nema
                                ograničenja i ništa nije nemoguće.</span>
                        <p class="paragraph header4Col">Obratite nam se s
                            povjerenjem:</p>
                        <p class="paragraph brojmobitela header5Col">Broj
                            mobitela:<br> <span class="brojmobitelaSpan">+385 95 3924 580</span>
                        </p>
                        <p class="paragraph header6Col email">Email:<br>
                            <span class="emailSpan">lollipopciscenje@gmail.com</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isMobile" class="container container-tekstSlika">
            <div class="row d-flex justify-content-center container-textSlikaIspod column-gap-3">
                <div class="slikaNaslovnaColLijevo col-12 d-flex justify-content-center"></div>
                <div class="naslovnaColDesno col-12 d-flex justify-content-start">
                    <div class="TextWrapperCol">
                        <p class="header1Col">Naš primarni cilj je Vaše
                            zadovoljstvo.</p>
                        <p class="header2Col">Želite li svježinu i urednost? Na
                            pravom ste mjestu</p>
                        <p class="paragraph header3Col">Sa više od 7 godina
                            iskustva, pouzdanosti i
                            kvalitetom osiguravamo čistoću Vašeg prostora.
                            Moguće je kombinirati usluge prema Vašim željama.
                            <span class="nemaOgranicenja">Za nas nema
                                ograničenja i ništa nije nemoguće.</span>
                        <p class="paragraph header4Col">Obratite nam se s
                            povjerenjem:</p>
                        <p class="paragraph brojmobitela header5Col">Broj
                            mobitela:<br> <span class="brojmobitelaSpan">+385 95 3924 580</span>
                        </p>
                        <p class="paragraph header6Col email">Email:<br>
                            <span class="emailSpan">lollipopciscenje@gmail.com</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid kucice-container">
            <div class="row d-flex justify-content-center container-kucicePadding pt-5">
                <div class="col-lg-2 procesiKucice mb-5">
                    <div class=" span-wrapper">
                        <span class="span1"></span>
                        <p class="spanP">Ispunite upit i zatražite
                            ponudu</p>
                    </div>
                </div>
                <div class="col-lg-2 procesiKucice mb-5">
                    <div class=" span-wrapper">
                        <span class="span2"></span>
                        <p class="spanP">Mi radimo procjenu <br> (osobno ili
                            putem videa)</p>
                    </div>
                </div>
                <div class="col-lg-2 procesiKucice mb-5">
                    <div class=" span-wrapper">
                        <span class="span3"></span>
                        <p class="spanP">Potpis ugovora</p>
                    </div>
                </div>
                <div class="col-lg-2 procesiKucice mb-5">
                    <div class=" span-wrapper">
                        <span class="span4"></span>
                        <p class="spanP">Krećemo na posao!</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section4Naslovna d-flex justify-content-center" [style.background-size]="backgroundSize">
    <div class="container d-flex justify-content-center">
        <div class="row  rowZadnjiHome pt-5">
            <div class="col-lg-12 d-flex justify-content-center colTextSection4">
                <div class="text-wrapper-section4 d-flex">
                    <div>
                        <p class="section4Text">Ako je za vas čistoća <br>
                            ključ zdravoga života<br>
                            <span class="naPravomMjestuSpan">na pravom ste
                                mjestu!</span>
                        </p>
                    </div>
                    <div class="gumb-wrapper4">
                        <button class="gumbSection4" (click)="scrollToForm()">
                            Pošaljite upit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>